@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<html> 
<head> 
<title>Chess Board</title> 
<style type="text/css"> 
table.chessboard { 
border: 2px solid #000000; 
} 
table.chessboard td { 
width:60px; 
height:60px; 
} 
table.chessboard td.white { 
background-color:#ffffff; 
} 
table.chessboard td.black { 
background-color:#444444; 
} 
</style> 
</head> 
<body> 

</body> 
</html>