<script type="text/javascript">
	$(function () {
		$("#plantSelector").load("@Url.Action("PlantSelector", "Plants")");
	});
</script>

<div id="sidebar">
	<!-- BEGIN SIDEBAR MENU -->         
	<ul class="nav nav-pills">
      <li class="active"><a href="#">TEST</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Messages</a></li>
    </ul>
	<!-- END SIDEBAR MENU -->
</div>
